// Typography
$font-family-sans-serif: "Nunito",
sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$bubble-size-big: 100px;
$bubble-size-small: 50px;
// Colors
$white: #fff;
$black: #000000;
$grey: #616161;
$red: #e33;
$green: #83f647;
$darkGreen: #64b63a;
$gradientGreen: linear-gradient(to bottom right, #83f647, #64b63a);
$background: #f8f8f8;
